.rowSpread {
    display: flex;
    justify-content: space-between;
}

.m-1 {
    margin: 5px;
}

.ng-invalid .ng-touched {
    border: '1px solid red' !important;
}

.crossed {
    text-decoration: line-through;
    color: green;
}