<div class="container">
  <header class="jumbotron">
    
    <form
      name="form"
      #f="ngForm"
      (ngSubmit)="f.form.valid && onSubmit()"
      novalidate
    >
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="text"
          [(ngModel)]="form.text"
          required
          #text="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && text.errors }"
        />
      </div>
      <p style="color:red" *ngIf="error">{{ error }}</p>
    </form>

    <div class="rowSpread m-1">
      <label for="chk">
        Filter out completed
        <input id="chk" value="filterChecked" (change)="changeFilter()" type="checkbox" />
      </label>
      <button (click)="sortItems()">sort</button>
    </div>

    <li *ngFor="let item of filterItems(items ? items : [])" class="rowSpread m-1">
      <span [ngClass]="item.done ? 'crossed' : ''">{{item.text}}</span>

      <button (click)="!item.done && updateItem(item.id)">cross out</button>
    
      <button type="button" (click)="deleteItem(item.id)">delete</button>
    </li>
  </header>
</div>
